{% extends "base.html" %}
{% load filters %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
    <main role="main">
        {% for article in articles %}
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">{{ article.title }}</h1>
                    <p>{{ article.text }}</p>
                </div>
            </div>

            <div class="container mb-5">
                {% with page=request.session|get_page_from_session:article.id %}
                    {% with items=article.section.paginator|get_page:page subsection=article.section.parent section=article.section %}
                        {% include 'subsection_elements.html' %}
                    {% endwith %}
                {% endwith %}
            </div>
        {% endfor %}
    </main>
{% endblock %}